<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/adminStyles.css">
    <title>Auth</title>
</head>
<body>
<div class="Layout">
    <main>

        <div class="wrapper">

            <ul class="list-group order_list">

            <!--    <li class="list-group-item">
                    <ul class="list-info-order">
                        <li>Cras justo odio</li>
                        <li>
                            <ul class="list-info-order inside">
                                <li><button class="btn-edit btn btn-outline-primary">Edit</button></li>

                                <li>
                                    <select class="form-control">
                                        <option value="">Select One</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                    </select>
                                </li>
                                <li>
                                    <button class="btn btn-danger">Delete</button>
                                </li>
                            </ul>
                    </ul>
                </li>-->
            </ul>
        </div>
    </main>
</div>
<footer>
    <div class="footer-main"></div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/js/shared.js"></script>
<script src="/js/user.js"></script>
</body>

</html>