<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/authStyles.css">
    <title>Auth</title>
</head>
<body>
<div class="Layout">
<main>

    <div class="wrapper" id="animate-area">
        <div class="alert alert-danger invalid-Auth" id="errorMessage" role="alert">

        </div>
        <form class="auth-form">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
          <div class="auth-buttons mt-5">
            <button type="submit" class=" btn btn-primary login">Sign in</button>
              <a href="/auth/signup"><button type="button" class=" btn btn-outline-success registr">Sign up</button></a>
          </div>

        </form>
    </div>
</main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/js/shared.js"></script>
<script src="/js/login.js"></script>
</body>

</html>


